[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ROI.plugin.lpsolve"]
	path = ROI.plugin.lpsolve
	url = https://github.com/roigrp/roi.plugin.lpsolve
